
@{
    ViewData["Title"] = "Display";
}

<h1>Display</h1>

<table>
    <tr>
        <td>RollNo</td>
        <td>
            @ViewBag.RollNo
        </td>
    </tr>
    <tr>
        <td>Name</td>
        <td>
            @ViewBag.Name
        </td>
    </tr>
    <tr>
        <td>Percentage</td>
        <td>
            @ViewBag.Percentage
        </td>
    </tr>
   
    <tr>
        <td>Stream</td>
        <td>
            @ViewBag.Stream
        </td>
    </tr>
</table>



