
@{
    ViewData["Title"] = "StudentDetails";
}

<h1>StudentDetails</h1>
<form asp-action="StudentDetails">
    <table>
        <tr>
            <td>Enter RollNo</td>
            <td>
                @Html.TextBox("rollno")
            </td>
        </tr>
         <tr>
            <td>Enter Name</td>
            <td>
                @Html.TextBox("name")
            </td>
        </tr>
         <tr>
            <td>Enter Percentage</td>
            <td>
                @Html.TextBox("percentage")
            </td>
        </tr>
        <tr>
            <td>Select Stream</td>
            <td>
                @Html.DropDownList("stream")
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Save" class="btn-btn-primary" />
            </td>
        </tr>
    </table>
</form>

